body {
	overflow: hidden;
	background-color: #333;
	color: #fff;
	font-family: sans-serif;
}

.yellow {
	color: yellow;
}

.fly {
	font-size: 24px;
	width: 100px;
	height: 100px;
	background: rgb(4, 31, 125);
	background: linear-gradient(90deg, rgba(4, 31, 125, 1) 0%, rgba(0, 205, 255, 1) 100%);
	color: yellow;
	padding: 20px;
	transition: all 1s ease 0s;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
}



.list {
	text-align: center;
	font-size: 22px;
	color: #fff;
	position: relative;
	top: 0;
	left: 0;
	z-index: 5;
}